/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v26-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v26-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Base */
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #ffefcd;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Header */
.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: #ffefcd;
}

.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.header-nav-list-left {
  width: 100%;
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 150px;
  margin-left: 150px;
}
.header-nav-logo {
  width: 85px;
  height: auto;
}

.header-nav-list-right {
  width: 100%;
  display: flex;
  justify-content: right;
  list-style: none;
  gap: 150px;
  margin-right: 150px;
}

.header-nav-item {
  text-decoration: none;
  font-size: 20px;
  color: #424530;
  border-radius: 5px;
  transition: color 0.3s;
  padding: 10px;
}

.header-nav-item:hover {
  text-decoration: none;
  color: #ffefcd;
  background-color: #424530;
}

/* Hero */
.hero-section {
  background-color: #424530;
  margin-bottom: 52px;
}

.hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;
}

.hero-section-photo {
  margin: 20px;
  width: 350px;
  border-radius: 400px 400px 0 0;
}

.hero-section-title {
  font-size: 100px;
  font-weight: 900;
  color: #ffefcd;
}

/* About */
.about-section {
  background-color: #ffefcd;
  margin-bottom: 52px;
}

.about-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section-title {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #424530;
}

.about-section-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-section-item {
  font-size: 20px;
  font-weight: 500;
  color: #424530;
}

/* Skills */

.section-skills {
  background-color: #ffefcd;
}

.section-skills-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #e09132;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-skills-container {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.section-skills-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.section-skills-item {
  font-size: 20px;
  font-weight: 500;
  width: 170px;
  padding: 20px;
  border-radius: 15px;
  background-color: #424530;
  color: #ffefcd;
  transition: transform 0.3s;
}

.section-skills-item:hover {
  transform: scale(1.2);
  background-color: #e09132;
  color: #424530;
}

/* Contacts */
.section-contact {
}

/* Footer */
.footer {
  background-color: #424530;
  padding: 10px 10px;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 80px;
}

.footer-term {
  color: #ffefcd;
}
