/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v26-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v26-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Base */
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
}
/* Header */
.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}

.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-nav-logo {
  width: 80px;
  height: 80px;
  /* margin-right: 10px; */
}

.header-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* margin: 20px 10px 20px 10px; */
}

.header-nav-item {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s;
}

.header-nav-item:hover {
  text-decoration: none;
  color: white;
  background-color: #9283ff;
}

.header-button {
  width: 150px;
  height: 40px;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #9283ff;
  color: white;
  border: 0;
  font-weight: 600;
  transition: color 0.3s;
}

.header-button:hover {
  background-color: #5d0089;
  color: white;
}

/* Hero */
.hero-section {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section-logo {
  width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

.hero-section-title {
  color: #8178f9;
  text-align: center;
  width: 100%;
  font-size: 80px;
  font-weight: 900;
}
/* About */
.section-about {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}

.section-about-photo {
  width: 250px;
}

.section-about-title {
  font-size: 50px;
  font-weight: 800;
  color: #9283ff;
}

.section-about-info {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.section-about-item {
  margin-bottom: 12px;
  color: #9283ff;
}

/* Skills */
.section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 0 80px 0;
}

.section-skills-title {
  font-size: 50px;
  font-weight: 800;
  color: #8178f9;
  width: 100%;
}

.section-skills-list {
  list-style: none;
  width: 100%;
  color: white;
}

.section-skills-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-skills-item {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 50px;
  width: 170px;
  padding: 20px;
  background-color: white;
  color: #8178f9;
  border-radius: 25px;
  transition: transform 0.5s;
}

.section-skills-item:hover {
  transform: scale(1.2);
  background-color: #8178f9;
  color: white;
}

/* Contacts */
.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 0 80px 0;
}

.contact-section-title {
  font-size: 50px;
  font-weight: 800;
  color: #8178f9;
  width: 100%;
}

.container-contacts {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
