@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/archivo-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/archivo-v19-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/archivo-v19-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/archivo-v19-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Archivo, sans-serif;
}

.header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-nav {
  width: 100%;
}

.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style: none;
  padding: 20px 10px 20px 20px;
}
.header-nav-item {
  text-decoration: none;
}

.header-button {
  width: 100px;
  height: 30px;
  margin-right: 20px;
  margin-left: 10px;
  border: 0;
}
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.78) 58.46%,
      rgba(18, 18, 17, 0.78) 90.36%
    ),
    url(/images/hero-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center top;
  /* background-size: cover; */
}
.hero-section-title {
  color: white;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
}
